

div.login-freebie
{
	font-size: 12px;
	display: table;
	background-color: #FFF;
	border: 1px solid #d9d9d9;

	-moz-box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.5);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.login-freebie > div.form
{
	display: table;
	width: 100%;
	padding: 20px;
}

div.login-freebie > div.form > input[type=text],
div.login-freebie > div.form > input[type=password]
{
	outline: none;
	display: table;
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #bcbcbc;
	color: #a7a5a5;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 15px;

	-moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;


	background: #d7d6d6; /* Old browsers */
	background: -moz-linear-gradient(top, #d7d6d6 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d6d6), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7d6d6 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d7d6d6 0%,#e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d7d6d6 0%,#e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d7d6d6 0%,#e9e9e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d6d6', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -ms-box-sizing: border-box !important;
}
div.login-freebie > div.form > input:last-child { margin-bottom: 0px; }

div.login-freebie > div.form > input[type=text]:hover,
div.login-freebie > div.form > input[type=password]:hover,
div.login-freebie > div.form > input[type=text]:focus,
div.login-freebie > div.form > input[type=password]:focus
{
	-moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

div.login-freebie > div.footer
{
	font-size: 11px;
	display: table;
	width: 100%;
	padding: 15px 20px;
	background-color: #3a3a3a;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #bcbcbc;
	text-shadow: 0px 1px 0px #000;
	position: relative;
}