
.regular-checkbox
{
	display: none;
}

.regular-checkbox + label
{
	display: block;
	position: absolute;
	right: 16px;
	top: 8px;
	width: 61px;
	height: 28px;
	background: no-repeat center;
	background-image: url(..css/login-css/images/checkbox/chk_off.png);
	cursor: pointer;
	opacity: 0.8;
}

.regular-checkbox + label:hover
{
	opacity: 1;
}

.regular-checkbox:checked + label
{
	background-image: url(..css/login-css/images/checkbox/chk_on.png);
}

.regular-checkbox:checked + label:after
{
	background-image: url(../images/checkbox/chk_on.png);
}